<div class="row">
	<% orders.products.forEach(product => { %>
	<div class="col s6 m6 ">
		<div class="card">
			<div class="card-image">
				<img src="/<%= product.productId.img %>" style="height: 400px;" />
			</div>
			<div class="card-content">
				<p><%= product.productId.name %></p>
				<p>price: <%= product.productId.price %></p>
				<p>quantity: <%= product.quantity %></p>
			</div>
			<div class="card-action">
				<a href="/product/<%= product.productId._id %>">see product</a>
			</div>
		</div>
	</div>
	<% }) %>
</div>
